#box1{
  margin:20px ;
  height: 100px;
  width: 100px;
  background-color: red;
}
#box2{
  margin:20px ;
  height: 100px;
  width: 100px;
  background-color: grey;
}
#box3{
  margin:20px ;
  height: 100px;
  width: 100px;
  background-color: blue;
}